# ESP-IDF specific
build/
sdkconfig
sdkconfig.old
manage_components/
# Папка з завантаженими компонентами
managed_components/

# Python specific
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Editor specific
.vscode/
.idea/
*.swp
*.swo

# Project specific
/tmp/
.bash_history
.vscode


